body {
  background-color: black;
  width: 800px;
  height: 400px;
  margin: 100px auto;
  /* border: 1pt purple solid; */
}

.digits {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 80px;
  color: rgb(5,70,5);
}

.digit {
  margin: 5px;  
}
#secondTens {
  position: relative;
  left: 22px;
}
#secondOnes {
  position: relative;
  left: 13px;
}
#tenth {
  position: relative;
  left: -9px;
}
#hundred {
  position: relative;
  left: -18px;
}
.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 320px;
}
.minute {
  position: relative;
  left: 18px;
}
.second {
  position: relative;
}
.tenths {
  position: relative;
}
.hundreths {
  position: relative;
  left: -18px;
}
.btn {
  background: rgb(2, 47, 2);
  color: rgb(143, 122, 2);
  height: 35px;
  width: 175px;
  font-weight: bolder;
  font-size: x-large;
}
.reset{
  background: red;
  color: black;
}
.log-times {
  text-align: center;
  color: purple;
}
.lap {
  font-size: 19px;  
  color: purple;
}
.start-stop {
  display: flex;
}
.reset-lap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.startStop {
  width: 87.5px;
}